#wrapper {
    width: 752px;
    margin: 0 auto;
}

li {
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 20px;
    margin: 0 8px 8px 0;
    background: #fff no-repeat center center;
    border: 5px solid #dbdbdb;
}

#wrapper #mainNav li:nth-child(2) {
    background: url(../ex09/images/sandal.png) no-repeat;
}

#wrapper #mainNav li:nth-child(3) {
    background: url(../ex09/images/neck.png) no-repeat;
}

#wrapper #mainNav li:nth-child(4) {
    background: url(../ex09/images/bag.png) no-repeat;
}

#wrapper #mainNav li:nth-child(5) {
    background: url(../ex09/images/dress.png) no-repeat;
}

#wrapper #mainNav li:nth-child(6) {
    background: url(../ex09/images/bottom.png) no-repeat;
}

#wrapper #mainNav li a {
    position: relative;
    top: 54px;
    font-size: 2em;
}