#wrapper {
    width: 378px;
    margin: 0 auto;
}

li {
    width: 90px;
    height: 90px;
    padding: 10px;
    border-radius: 20px;
    margin: 0 8px 8px 0;
    background: #fff no-repeat center center;
    border: 5px solid #dbdbdb;
}

#wrapper #mainNav li:nth-child(2) {
    background: url(../ex09/images/sandal2.png) no-repeat;
}

#wrapper #mainNav li:nth-child(3) {
    background: url(../ex09/images/neck2.png) no-repeat;
}

#wrapper #mainNav li:nth-child(4) {
    background: url(../ex09/images/bag2.png) no-repeat;
}

#wrapper #mainNav li:nth-child(5) {
    background: url(../ex09/images/dress2.png) no-repeat;
}

#wrapper #mainNav li:nth-child(6) {
    background: url(../ex09/images/bottom2.png) no-repeat;
}

#wrapper #mainNav li a {
    position: relative;
    top: 38px;
    font-size: 1.4em;
}