@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
}

body {}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

#nav {
    list-style: none;
    background: mediumaquamarine;
    border-radius: 10px;
    margin-top: 50px;
    padding: 6px 7px;
}

#nav>li {
    margin: 5px 10px;
    float: left;
    width: 200px;
    text-align: center;
}

#nav>li>a {
    color: lightcoral;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

#nav>li>ul {
    display: none;
    position: absolute;
    list-style: none;
    width: 200px;
}

#nav>li>ul li {
    height: 50px;
    border-bottom: 1px solid #ccc;
    line-height: 50px;
}

#nav>li>ul li:hover a {
    display: block;
    color: #444;
    font-weight: bold;
    background: indianred;
}

#nav>li:hover>ul {
    display: block;
    background: mediumaquamarine;
    opacity: 0.8;
}

#nav>li>ul li a {
    color: gray;
    text-decoration: none;
}