@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
}

.clearfix::after {
    clear: both;
    display: block;
    content: '';
}

.wrapper {
    font-size: 2em;
}

.box {
    background: lightblue;
    color: lightcoral;
    text-align: center;
    float: left;
    margin-right: 20px;
}

.box_px {
    width: 160px;
    height: 160px;
}

.box_em {
    width: 10em;
    height: 10em;
}

.box_rem {
    width: 10rem;
    height: 10rem;
}

p {
    font-size: 1.5rem;
    width: 100vw;
    background: red;
    height: 50%;
}

span {}