* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../images2/grid_back_02.gif);
}

#wrap {
    width: 770px;
    height: 560px;
    margin-left: 490px;
    margin-top: 140px;
}

#menu {
    width: 140px;
    height: 210px;
    background: white;
    float: left;
}

#menu ul {
    list-style: none;
    margin-top: -4px;
    padding: 0;
    line-height: 0;
}

.box1_1 {
    width: 70px;
    height: 70px;
}

.box1_3 {
    width: 70px;
    height: 210px;
    float: left;
}

.color1 {
    background-color: #ff9;
}

.color2 {
    background-color: #fc0;
}

.color3 {
    background-color: #f90;
}

.box3_1 {
    width: 210px;
    height: 70px;
}

.box3_3 {
    width: 210px;
    height: 210px;
    float: left;
}

.fl {
    float: left;
}

.title {
    width: 210px;
    height: 140px;
}

.box11_1 {
    width: 770px;
    height: 70px;
    float: left;
}