@charset "UTF-8";

/* 공통속성 */

.cf:after {
    content: '';
    display: block;
    clear: both;
}

#wrap {
    width: 100%;
}

#menu {
    width: 100%;
    height: 105px;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
}

#header {
    width: 100%;
    z-index: 999;
    position: fixed;
}

a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

#gnb {
    width: 1280px;
    margin: 0 auto;
}

#gnb a {
    display: block;
    padding-top: 20px;
    float: left;
}

#gnb #nav {
    float: right;
}

#nav .bg_blue {
    position: absolute;
    width: 100%;
    background: lightblue;
    height: 0;
    top: 105px;
    left: 0;
    opacity: 0.9;
    z-index: 1;
    transition: height 0.5s;
}

#nav:hover .bg_blue {
    height: 195px;
}

#nav .bg_blue span {
    display: block;
    height: inherit;
    background: url(../image/gnb_blind_bg.png) no-repeat 200px bottom;
    margin: 0 auto;
    width: 1280px;
}

#nav .bg_menu {
    height: 105px;
    transition: height .5s;
    width: 900px;
    right: 0;
    z-index: 10;
    position: relative;
    overflow: hidden;
}

#nav:hover .bg_menu {
    height: 300px;
}

#nav .bg_menu>ul {
    width: 100%;
}

#nav .bg_menu>ul>li {
    float: left;
    width: 20%;
}

#nav .bg_menu>ul>li>a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

#nav .bg_menu>ul>.menu01 a {
    color: orange
}

#nav .bg_menu>ul>.menu02 a {
    color: orangered;
}

#nav .bg_menu>ul>.menu03 a {
    color: orchid;
}

#nav .bg_menu>ul>.menu04 a {
    color: palegoldenrod;
}

#nav .bg_menu>ul>.menu05 a {
    color: palegreen;
}

#nav .bg_menu>ul>li>ul.twoD {
    display: none;
}

#nav .bg_menu>ul>li:hover>ul.twoD {
    display: block;
    padding-top: 10px;
    top: 105px;
    position: absolute;
    box-sizing: border-box;
    padding-top: 0px;
}

#nav .bg_menu>ul>li>ul.twoD li {
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    clear: both;
    height: auto;
    text-align: left;
    padding: 0 20px;
    box-sizing: border-box;
}

#nav .bg_menu>ul>li:hover>ul {
    background: rgba(0, 86, 155, 0.5);
}

#nav .bg_menu>ul>li>ul.twoD li a {
    color: white;
    text-decoration: none;
}

#content {
    width: 100%;
}

#content img {
    width: 100%;
}